################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/IT_Step/Homeworks/Homework_4/.vs/Homework_4
/IT_Step/Homeworks/Homework_4/Task_1/obj
/IT_Step/Homeworks/Homework_4/Task_2/obj
/IT_Step/Homeworks/Homework_4/.vs/ProjectEvaluation
/IT_Step/Homeworks/Homework_4/Task_1/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_4/Task_2/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_5/.vs/Homework_5
/IT_Step/Homeworks/Homework_5/Task_1/obj
/IT_Step/Homeworks/Homework_5/Task_2/obj
/IT_Step/Homeworks/Homework_5/.vs/ProjectEvaluation
/IT_Step/Homeworks/Homework_5/Task_1/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_5/Task_2/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_6/.vs/Homework_6
/IT_Step/Homeworks/Homework_6/Task_1/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_6/Task_1/obj
/IT_Step/Homeworks/Homework_6/.vs/ProjectEvaluation
/IT_Step/Homeworks/Homework_7/.vs/Homework_7
/IT_Step/Homeworks/Homework_7/Task_1/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_7/Task_1/obj
/IT_Step/Homeworks/Homework_7/.vs/ProjectEvaluation
/IT_Step/Homeworks/Homework_10/.vs
/IT_Step/Homeworks/Homework_8/.vs
/IT_Step/Homeworks/Homework_14/.vs
/IT_Step/Homeworks/Homework_12/.vs
/IT_Step/Homeworks/Homework_13/.vs
/IT_Step/Homeworks/Homework_11/.vs/Homework_11
/IT_Step/Homeworks/Homework_11/Task_1/obj
/IT_Step/Homeworks/Homework_11/Task_2/obj
/IT_Step/Homeworks/Homework_11/Task_3/obj
/IT_Step/Homeworks/Homework_11/Task_4/obj
/IT_Step/Homeworks/Homework_11/.vs/ProjectEvaluation
/IT_Step/Homeworks/Homework_11/Task_1/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_11/Task_2/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_11/Task_3/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_11/Task_4/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_9/.vs
/IT_Step/Homeworks/Homework_9/Task_1/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_9/Task_1/obj
/IT_Step/Homeworks/Homework_9/Task_2/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_9/Task_2/obj
/IT_Step/Homeworks/Homework_9/Task_3/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_9/Task_3/obj
/IT_Step/Homeworks/Homework_12/Task_1/obj
/IT_Step/Homeworks/Homework_12/Task_1/Task_1.csproj
/IT_Step/Homeworks/Homework_14/Task_1/obj
/IT_Step/Homeworks/Homework_14/Task_1/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_8/Task_1/bin/Debug/net8.0
/IT_Step/Homeworks/Homework_8/Task_1/obj
/IT_Step/Homeworks/Homework_10/Task_1/obj
/IT_Step/Homeworks/Homework_13/Task_1/obj
